.TodoSearch {
    background: #F9FBFC;
    border-radius: 2px;
    border: 2px solid hsl(135, 35%, 55%);
    height: 64px;
    width: 80%;
    max-width: 300px;
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: #1E1E1F;
    border-radius: 15px;
    text-align: center;
  }
  
  .TodoSearch::placeholder {
    color: #A5A5A5;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
  }
  
  .TodoSearch:focus {
    outline-color: hsl(50, 75%, 55%);
  }